<!----------------------------------------------------Tab 3 Indicatori financiari------------------------------------------------------------------------------->
<div id="indicators" class="tab-pane fade" role="tabpanel" aria-labelledby="indicators-tab">
    <div class="container-fluid px-0 mb-4">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-0 fw-medium text-muted">Vizualizează mai jos principalii indicatori financiari. Alege un mod de vizualizare.</p>
            </div>
            <div class="col-md-6">
                <div class="btn-group w-100" role="group" aria-label="Ratios View Selection">
                    <button id="btn-ratios-annual" class="btn btn-outline-secondary btn-sm">anual</button>
                    <button id="btn-ratios-quarter" class="btn btn-outline-secondary btn-sm">trimestrial</button>
                    <button id="btn-ratios-quarter-cml" class="btn btn-outline-secondary btn-sm">trimestrial cumulat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion accordion-active-header" id="accordion-ratios"></div>
</div>